body {
  background: rgb(41, 12, 80);
}

div.content {
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}

p#title {
  text-align: center;
  color: rgb(181, 176, 253);
  font-size: 30px;
  margin-bottom: 25px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

p.subtitle {
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 15px;
  margin: 40px 10px 0px 10px;
  width: 275px;
  text-align: center;
  color: rgb(181, 176, 253);
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

span#to {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(181, 176, 253);
}

input.base {
  font-family: "Segoe UI Light", "Roboto", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100px;
  height: 36px;
  border: 0;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); */
  background: none;
  border-bottom: 1px solid rgb(181, 176, 253);
  margin: 10px;
  margin-top: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

input.valueIn {
  font-family: "Segoe UI Light", "Roboto", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 255px;
  height: 36px;
  border: 0;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); */
  background: none;
  border-bottom: 1px solid rgb(181, 176, 253);
  margin: 10px;
  margin-top: 5px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

h1.valueOut {
  font-family: "Segoe UI Light", "Roboto", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 275px;
  margin: 30px 10px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

button.convert {
  background: linear-gradient(to top, rgb(156, 48, 65), rgb(224, 73, 97));
  width: 275px;
  height: 50px;
  border: 0;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

button.convert:hover {
  background: linear-gradient(to bottom, rgb(156, 48, 65), rgb(156, 48, 65));
}

/* PLACEHOLDER */

::-webkit-input-placeholder {
  color: rgb(96, 82, 187);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(96, 82, 187);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(96, 82, 187);
}

:-ms-input-placeholder {
  color: rgb(96, 82, 187);
}
